@font-face {
    font-family: 'tml';
    src: url('fonts/Workbench.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg: #051103;
    --tmltxt: #11ff04;
    --scanflicker: 0.3;
}

.edgefade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 0 175px #000000 ;
    pointer-events: none;
    z-index: 255;
}

.scanlines {
    z-index: 250;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: linear-gradient(
        #ffffff2f 0px,
        #ffffff2f 7px,
        #00000000 10px,
        #00000000 25px        
    );
    background-size: 100% 25px;
    opacity: var(--scanflicker, 0.3);
    transition: opacity 0.4s ease-out;
    animation: scanscroll 5s linear infinite;
}

@keyframes scanscroll {
    0% {background-position: 0 0;}
    100% {background-position: 0 250px;}
}

.scanlines.flash {
    transition: none; 
    --scanflicker: 0.35;
}


body {
    font-family: 'tml', sans-serif;
    background-color: var(--bg); 
    color: var(--tmltxt);
}
